---
layout: default
---

<div class="container">
    {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
  <div class="row">
    <div class="col col-8 push-2 col-d-10 col-m-12 push-d-1 push-m-0">
      <!-- begin page -->
      <article class="page animate">
        <div class="page-head">
          <h1 class="page-title">{{ page.title | escape }}</h1>
        </div>
        <div class="page__content">
          {{ content }}
        </div>
      </article>
      <!-- end page -->
    </div>
  </div>
</div>

{% include ads.html %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
